

.menu-block {
    &__name {
       transition: transform 1s
    }
    &__list {    
       overflow: hidden;
       position: relative;
       .dish__price .dish__select .fas{
          transition: transform 1s
        } 
    }
 
       &:active {
          
          .dish__select  {
             transform: translate(-70px, 0) ;
            // animation-fill-mode: forwards;
             .fas {
                transform: rotate(1turn);
               
             }
          }
          .menu-block__name {
             transform-origin: left;
             transform: scaleX(0);
             animation: slidein 1s;
          }
          .dish__price {
             transform: translate(-70px,0);
          }
       }
 
    }
 