

.menu-block {
    
   &__list {    
      .menu-block__name {
         transition: width 1s;
      }
      .dish__price,
      .dish__select,
      .fas {
         transition: 1s;
        }  
   &:hover {
         .menu-block__name {
            width: 50%;
            animation-fill-mode: forwards;
         } 
         .dish__select, .dish__price  {
            animation: slide-left 1s;
            animation-fill-mode: forwards;
                       
             .fas {
                transform: rotate(1turn);
                animation-fill-mode: forwards;
               }
         }
      }
   }          
}


 .resto-block__heart {
    &--full {
      transition: opacity 1s;
      opacity: 0;
      z-index: 1;
    }
    &--empty {
      opacity: 1;
    }
    &:hover &--full {
       opacity: 1;
    }
 }