

.menu-block {
    
   &__list {    
      .menu-block__name {
         transition: width 1s;
      }
      .dish__price,
      .dish__select,
      .fas {
         transition: 1s;
         
        } 
    
 
   &:active {

         .menu-block__name {
            
            width: 50%;
         } 
         .dish__select  {
            animation: slide-left 1s;
                       
             .fas {
                transform: rotate(1turn);
               }
          }
  
         .dish__price {
            animation: slide-left 1s;
         }
      }          
   }
}

 .resto-block__heart {
    &--full {
      transition: opacity 1s;
      opacity: 0;
      z-index: 1;
    }
    &--empty {
      opacity: 1;
    }
    &:hover &--full {
       opacity: 1;
    }
 }