// -----------------------------------------------------------------------------
// This file contains basic styles.
// -----------------------------------------------------------------------------


// Set up a decent box model on the root element
.bodyFrame {
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0;
    overflow-x:hidden;
  }
  
  
// Make all elements from the DOM inherit from the parent box-sizing
 
*,
*::before,
*::after {
  box-sizing: inherit;
}

//Links 
a {     
  text-decoration: none;
  cursor: pointer;
}

a:visited {                  
    color: inherit;
}

//Lists style
ul {                                
  list-style: none;
}

section {
  padding: 0 20px;

}

//block text
.name {
  @include block;
  border:blue 2px solid;
}