// -----------------------------------------------------------------------------
// This file contains basic styles.
// -----------------------------------------------------------------------------


// Set up a decent box model on the root element
body {
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0;
    overflow-x:hidden;
  }
  
  
// Make all elements from the DOM inherit from the parent box-sizing
 
*,
*::before,
*::after {
  box-sizing: inherit;
}

//Links 
a {     
  text-decoration: none;
  cursor: pointer;
}

a:visited {                  
    color: inherit;
}

//Lists style
ul {                                
  list-style: none;
}

.resto-block__heart {
  font-size: 20px;
}

.name {
  width: 80%;
  padding-left: 10px;
  line-height: 1;
} 
