@font-face {
    font-family: Shrikhand;
    src: url(public/fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(public/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoThin;
    src: url(public/fonts/Roboto-Thin.ttf);
}