// -----------------------------------------------------------------------------
// Animation keyframes.
// -----------------------------------------------------------------------------

//menu selection slider
@keyframes slide-left {
    from{transform: translateX(0px)}
    to{transform: translateX(-70px)}
   
}

//loader transition and animation
@keyframes load {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes loading-transition {
    0% {opacity:1;
          z-index: 1000;  }
    70% {opacity: 0.1;
        z-index: 1000;  }      
    100% {opacity:0;
        z-index: -1000;}
}

@keyframes appearence-top {
    from { transform: translateY(25px) ; 
           opacity: 0;
        }
    to { transform: translateY(0px) rotate(-90deg);
         opacity: 1 ;
        }
}

@keyframes appearence-right {
    from { transform: translateX(-25px) ; 
           opacity: 0;
        }
    to { transform: translateX(0px) rotate(-90deg);
         opacity: 1 ;
        }
}



