//----------------------------------------
//Basic typography style for copy text.
//----------------------------------------

body {
    font-family: Roboto, RobotoThin, Shrikhand, Arial, verdana, sans-serif;
}

.loader__circle {
    font-family: shrikhand;
}

.intro, .process, .resto{
    &__heading {
        font-family: Roboto;
        font-size: 20px;
        margin: 0;
        @include for-desktop {
            text-align: center;
        }
    }
}

.map__city, .intro__content {
    font-family: RobotoThin;
    font-size: 14px;
}

.btn {
    font-family: Roboto;
    font-size: 14px;
    color: white;
}

.menu-block__heading {

    span{
    padding-bottom: 5px;
    border-bottom: 2px solid $colour-tertiary;
    }
}

h3, h4, ul, span{
    font-family: Roboto;
    font-size: 14px;
    

}
.name {
    width: 80%;
    padding-left: 10px;
    line-height: 1;
    p{
    font-family: RobotoThin;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: -12px;
    }
    h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }
}

.resto-block__heart {
    font-size: 20px;
  }

.resto-prev__heading {
    font-family: Shrikhand;
    font-size: 12px;
    h1 {
        @include for-desktop {
            margin: 20px auto;
        }
        @include for-tablet {
            margin: 20px auto;
        }
    }
}





