.main__heading, .intro__heading, .restaurants__heading {
    font-family: Roboto;
    font-size: 20px;
    margin: 0;
}

h3 {
    font-family: Roboto;
    font-size: 14px;
}

p {
    font-family: RobotoThin;
    font-size: 14px;
}

.resto-prev__heading {
    font-family: Shrikhand;
    font-size: 14PX;
    font-weight: bold;
}

button {
    font-family: Roboto;
    font-size: 14px;
    color: white;
}



ul {
    font-family: Roboto;
    font-size: 14px;
}