// -----------------------------------------------------------------------------
// This file contains all styles related to the loader of the site.
// -----------------------------------------------------------------------------


//display loader on full page
.loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.8);
    animation: loading-transition 2s 2500ms forwards;


//center loader animation.    
    &__frame {
        position: absolute;
        width: 110px;
        height: 110px;
        transform: rotate(45deg);
        transform-origin: 0 0; 
        z-index: 100;
        top: 40%;
        left: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }
    
//loader circle position and animation  
    &__circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;  
        align-items: center;
        justify-content: center;
        
        
    //circle 1: "Oh"
        &-left {
            opacity:0;
            background-color: $colour-tertiary;
            animation: appearence-top 750ms ease-in forwards;
            overflow: hidden;
            z-index: 1010;

        }
    //circle 2: "my"
        &-top {
            opacity:0;
            background-color: $colour-primary;
            animation: appearence-top 750ms 600ms ease-in forwards; 
            object-fit: contain; 
            z-index: 1009;
        }
    //circle 3: "food"
        &-right {
            opacity:0;
            background-color: $colour-secondary;
            animation: appearence-right 750ms 1200ms ease-in forwards;
            overflow: hidden;
            z-index: 1008;
        }
    }
}

