
//restaurants cards and menu blocks
@mixin blockLayout {
    width: 95%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px $colour-shadow ;
}


//Gradient for button BG
@mixin gradient{
    background: rgb(147,86,220);
    background: linear-gradient(
        0deg, 
        rgba(147,86,220,1) 0%, 
        rgba(255,121,218,1) 100%
        ); 
}

@mixin gradient-lighter  {
    background: lighten(rgb(147,86,220), 2) ;
    background: linear-gradient(
        0deg, 
        lighten(rgb(147,86,220), 2) 0%, 
        lighten(rgba(255,121,218,1), 2) 100%
        ); 
}

@mixin gradient-heart {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,121,218,1)), to(rgba(147,86,220,1)));
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
}

//resto-block and menu-block layout
@mixin block {
    border-radius: $borderRadius-block;
    box-shadow: $box-shadow;
}

@mixin name {
    padding-left: 10px;
    line-height: 1;

}

