// -----------------------------------------------------------------------------
// This file contains the colours and shadows of the site.
// -----------------------------------------------------------------------------


//Colours
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: white;
$colour-black: black;
//background colours
$colour-bg: rgb(246,246,246);
$colour-bgGradient: rgb(246,246,246);
$colour-bgFooter: #353535;

//shadow colour
$colour-shadow: #c4c7cc; 

//icon colour
$colour-icon: #7e7e7e;

//border radius
$borderRadius-btn: 90px;
$borderRadius-block: 20px;

//box-shadow list
$box-shadow :2px 2px 20px $colour-shadow;

$box-shadow-darken : 2px 2px 10px darken($colour-shadow, 15);

//padding home page
$padding-home: 30px 20px;