//Colors

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$colour-bg: #eaeaea;
$colour-bgGradient: rgb(246,246,246);
$colour-bgFooter: #353535;

$colour-shadow: #c4c7cc; 

$colour-icon: #7e7e7e;

//border radius
$borderRadius-btn: 90px;
$borderRadius-block: 20px;

//box-shadow list
$box-shadow :2px 2px 20px $colour-shadow;