// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site.
// -----------------------------------------------------------------------------


.footer {
    
    padding: 20px;
    background-color: $colour-bgFooter;
    color: $colour-white;
    &__logo {
        height: 16px;
        }
    &__list {
        list-style: none;
        line-height: 24px;
        padding: 0;
        &--items a{
            color:$colour-white;
            }
        .fas {
            width: 25px;
            }       
        }
}
   
@include for-tablet {
    .footer {
        //center footer logo on desktop version        
                &__logo {
                    display: block;
                    margin: 0 auto;
                }
        //display footer links inline on desktop version        
                &__list {
                    display: flex;
                    justify-content: space-between;
                    margin-left: 30px;
                    margin-right: 30px;
                    &--items {
                        width: 100%;
                        text-align: center;
        //add separator between links    
                        border-right: $colour-white solid 2px;   
                        &:nth-child(4) {
                            border-right: none;
                        }
                    }
                    
                }
            }
}

@include for-desktop {
    .footer {
//center footer logo on desktop version        
        &__logo {
            display: block;
            margin: 0 auto;
        }
//display footer links inline on desktop version        
        &__list {
            display: flex;
            justify-content: space-between;
            margin-left: 30px;
            margin-right: 30px;
            &--items {
                width: 100%;
                text-align: center;
//add separator between links    
                border-right: $colour-white solid 2px;   
                &:nth-child(4) {
                    border-right: none;
                }
            }
            
        }
    }
    
} 

