.menu {
   background-color: $colour-bg;
   padding: 20px;
} 

.menu-block {
   &__list {
       height: 70px;
       margin-bottom: 16px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 10px;
       background: white;
       @include block;
   }
   
}

.name {
    padding-left: 10px;
    line-height: 0.5;
} 
